.dark-mode{
  filter: invert(0%);
}

.clear-mode{
  filter: invert(100%);
}

html {
  overflow-y: scroll;
}

* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}

.theme-light {
  --color-primary: white;
  --font-color: black;
}
.theme-dark {
  --color-primary: black;
  --font-color: white;
}

table,
thead,
tr,
tbody,
th,
td {
  text-align: center;
}

.table td {
  text-align: center;
}

.tooltip-inner {
  white-space:pre-wrap;
}

.header{
  border: 1px solid #ced4da;
  border-radius: 6px 6px 0 0;
  background-color: #f8f9fa;
  height: 40px;
  text-align: center;
}

.expand{
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
}

.button:hover{
  cursor: pointer;
  overflow: visible;
  color: darkgreen;
}

textarea {
  border-radius: 0 0 6px 6px !important;
}
/*----------------------------------------------*/
